body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(255, 253, 249);
    margin: 0px;
}

.flex1{
    flex-direction: row;
    display: flex;
    align-items: center;


}

.T1{
    font-size: x-large;
    text-align: center;
    width: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#WEBT{
    margin-top: 0px;
    text-shadow: 1px 1px 20px;
}
#CALT{
    margin-bottom: 0px;
    color: rgb(47, 130, 255);
    text-shadow: 0 10px 60px;
}



.menuF{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    border-bottom: solid rgb(194, 194, 194) 1px;
    border-top: solid rgb(194, 194, 194) 1px;

}

.menuC{
    color: rgb(114, 114, 114);



}

.idioms{

    background-color: rgb(255, 253, 249);
    width: 8%;
    position: absolute;
    border-radius: 2px;
    text-align: center;
    box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
